{% if is_paginated %}
<div class="pagination justify-content-center">
    <ul class="pagination justify-content-center">
        {% for page_no in paginator.page_range %}
        {% if page_obj.number == page_no %}
        <li class="page-item active"><a class="page-link" href="?page={{ page_no }}">{{ page_no }}</a></li>
        {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ page_no }}">{{ page_no }}</a></li>
        {% endif %}
        {% endfor %}
    </ul>
</div>
{% endif %}
