{% extends 'base/base_layout.html' %}
{% load static %}

{% block scripts %}
<script type='text/javascript' src="{% static 'users/js/password_change.js' %}"></script>
<script>
    var success_redirect_url = '{% url "users:profile_details" %}';
    var password_change_api = '{% url "users_api:user_password_change" %}';
</script>
{% endblock %}


{% block content %}
<div class="container">
    <form style="margin:50px" class='col-sm-8' method="post" action="#">
        {% include 'base/form_renderer.html' with form=form %}
        <button class='btn-primary' type="submit">Change Password</button>
    </form>
</div>
{% endblock %}
